.tokenTable{
    width: 100%;
    text-align: start;

    border-collapse: separate; 
    border-spacing: 0 10px;  /* correct offset on first border spacing if desired */
}

.titles{
    width: 100%;
    text-align: start;
    border-collapse: separate; 
    border-spacing: 0 10px;  /* correct offset on first border spacing if desired */
}

.wrapper{
    padding-top:4rem;
}


.tokenTable tr th{

    padding: 0.5rem;
}



.headPreview{
    text-align: center !important;
}

.topContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

