/* Reset default margin and padding */
body, ul, li {
    margin: 0;
    padding: 0;
  }
  


  .logo span {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 50px;
  }

  .logo img {
    width: 50px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    margin-bottom:15px;
    margin-left: 50px;
    margin-right: 10px;
  }
  

  
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;

    padding:3px;
  }
  
  .nav-links a:hover {
    color: #9912d8;
  }

  .address {
    color: white;
    font-size: 18px;
  }

  .navbar {
    background-color: #181419;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .navbar-left {

    display: flex;
    align-items: center;

  }
  
  .navbar-right {
    display: flex;
    align-items: center;
   margin-right: 2%;
  }