.tokenTable{
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 10px;  /* correct offset on first border spacing if desired */
    text-align: start;
    padding-bottom: 200px;

}


.wrapper{
    padding-top:8rem;
    padding-bottom: 200px;
}



.tokenTable tr th{
    text-align: start;
    padding: 0.5rem;
}

.listingTable{
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 10px;  /* correct offset on first border spacing if desired */
}

.listingTable tr th{
    text-align: start;
    padding: 0.5rem;
}

.headPreview{
    text-align: center !important;
}

.topContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}