.img{
    width: 4.5rem;
    height: 4.5rem;
    border: lightgray solid px;
    font-size: 0;
    border-radius: 5px;
}

.cell {
    border: solid 2px lightgray;
    border-style: solid none;
    padding: 0.5rem;

}

.inputShares {
    width: 6rem;
}

.inputPrice {
    width: 4rem;
}
.cell:first-child {
    display: flex;
    gap:0.5rem;
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

.cell:last-child {
    align-items: center;
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
    text-align: center;
}

.previewBtn{
    position:relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    box-sizing: border-box;
    aspect-ratio: 1;
    color:white;
    background-color: black;
    border-radius:50px;
    border: transparent;
    z-index: 1;
}

.audioMenu{
    width: fit-content;
    height: fit-content;
    display: flex;
    right: calc(100% + 15px);
    background-color: lightgray;
    padding: 0.5rem;
    border-radius: 500px;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
}

.addListing{
    padding: 10px 20px;
    background-color: #2C2263;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }